@model LIDOM_MVC.ViewModels.EqEstadioNombreViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Detalles</h1> *@

<div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-2">
            <img style="width: 150px; height: 150px;" src="https://uxwing.com/wp-content/themes/uxwing/download/sport-and-awards/ball-baseball-icon.png" />
        </div>
        <div class="col-4">
            <h1 class="text-primary">@Html.DisplayFor(model => model.EqNombre)</h1>
        </div>
    </div>
    <hr />
    <dl class="row">
        @if (User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EqId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EqId)
            </dd>            
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EqNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EqNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EqDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EqDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EqCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EqCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EqEstadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EqEstadio)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EqEstatus)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EqEstatus)
            </dd>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.EqId }, new { @class = "btn btn-outline-secondary me-2" })  
    }
    <a asp-action="Index">Volver a la lista</a>
</div>
