@model IEnumerable<LIDOM_MVC.ViewModels.EquipoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipos</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
    <a class="btn btn-primary " asp-action="Create">Crear nuevo equipo</a>
        
    }
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.EqId)
                </th>               
            }
            <th>
                @Html.DisplayNameFor(model => model.EqNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EqDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EqCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EqEstadioNombre)
            </th>
            @if (User.IsInRole("Admin"))
            {
            <th>
                @Html.DisplayNameFor(model => model.EqEstatus)
            </th>
                
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.EqId)
                    </td>                    
                }
                <td>
                    @Html.DisplayFor(modelItem => item.EqNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EqDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EqCiudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EqEstadioNombre)
                </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                        @Html.DisplayFor(modelItem => item.EqEstatus)
                        </td> 
                    }
                <td class="d-flex flex-nowrap">
                    @if (User.IsInRole("Admin"))
                    {
                        <span> @Html.ActionLink("Editar", "Edit", new { id=item.EqId }, new { @class = "btn btn-outline-secondary me-1" })</span>
                    }

                        <span>@Html.ActionLink("Perfil", "Details", new { id=item.EqId }, new { @class = "btn btn-outline-primary me-1" })</span>

                    @if (User.IsInRole("Admin"))
                    {
                        <span>   @Html.ActionLink("Eliminar", "Delete", new { id=item.EqId }, new { @class = "btn btn-outline-danger me-1" })</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
