@model LIDOM_MVC.ViewModels.CalendarioViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Estas seguro de que quieres eliminarlo?</h3>
<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalJuegoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalJuegoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FecFechaPartido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FecFechaPartido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoLocal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipoLocal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoVisitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipoVisitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FecHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FecHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TemNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstNombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger me-2" /> 
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
