@model LIDOM_MVC.ViewModels.CalendarioJuegoViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalJuegoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalJuegoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalFechaPartido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalFechaPartido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalEquipoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalEquipoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalEquipoVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalEquipoVisitante)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CalJuegoId }, new { @class = "btn btn-outline-secondary me-1" }) 
    <a asp-action="Index">Volver a la lista</a>
</div>
