@model IEnumerable<LIDOM_MVC.ViewModels.CalendarioViewModel>

@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Main</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CalJuegoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecFechaPartido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalJuegoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecFechaPartido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoVisitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstNombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
