@model IEnumerable<LIDOM_MVC.Models.Estadio>

@{
    ViewData["Title"] = "Index";
}

<h1>Estadio</h1>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create" class="btn bg-primary text-white">Crear nuevo estadio</a>
</p>
    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstUbicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstUbicacion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EstId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EstId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EstId })
            </td>
        </tr>
}
    </tbody>
</table>
