@model LIDOM_MVC.Models.ResultadoEquipo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ResultadoEquipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResPartido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResPartido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResCarreras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResCarreras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResHits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResHits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResErrores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResErrores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResJuegoGanado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResJuegoGanado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResJuegoPerdido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResJuegoPerdido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResJuegoEmpate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResJuegoEmpate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ResId }) |
    <a asp-action="Index">Back to List</a>
</div>
