@model IEnumerable<LIDOM_MVC.ViewModels.StandingEquipoViewModel>

@{
    ViewData["Title"] = "GetStandingPorFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Standing</h1>

@{
    // var gruposPorFecha = Model.GroupBy(item => item.Fecha).OrderBy(grupo => grupo.Key);
    var gruposPorFecha = Model.GroupBy(item => item.Fecha);
}

<table class="table">

@foreach (var grupo in gruposPorFecha)
{
    <tr>
            <td colspan="9" class="text-center" style="background-color: #ea781a; color: #aa1100; font-weight: bold; border: 5px solid #0f34ad;">Fecha: @grupo.Key.ToShortDateString()</td>
    </tr>
@*         <thead class="table-dark">
        <tr>
            <td>
               Equipo Id
            </td>
            <td>
                Equipo
            </td>
            <td>
                Juegos Jugados
            </td>
            <td>
               Juegos Perdidos
            </td>
            <td>
                Juegos Empatados
            </td>
            <td>
               Carreras
            </td>
            <td>
               Hits
            </td>
            <td>
               Errores
            </td>
        </tr>
    </thead> *@

    foreach (var item in grupo)
    {
            <tbody style="background-color: #cfd0e2; color: #0f34ad; font-weight: 500;">

            <tr>
                <td>
                    <div style="color: black;">Equipo Id</div>
                    @Html.DisplayFor(modelItem => item.EquipoId)
                </td>
                <td>
                        <div style="color: black;">Equipo </div>
                    @Html.DisplayFor(modelItem => item.EquipoNombre)
                </td>
                <td>
                        <div style="color: black;">Juegos Ganados</div>
                    @Html.DisplayFor(modelItem => item.JuegosGanados)
                </td>
                <td>
                        <div style="color: black;">Juegos perdidos</div>
                    @Html.DisplayFor(modelItem => item.JuegosPerdidos)
                </td>
                <td>
                        <div style="color: black;">Juegos Empatados</div>
                    @Html.DisplayFor(modelItem => item.JuegosEmpatados)
                </td>
                <td>
                        <div style="color: black;">Carreras</div>
                    @Html.DisplayFor(modelItem => item.Carreras)
                </td>
                <td>
                        <div style="color: black;">Hits</div>
                    @Html.DisplayFor(modelItem => item.Hits)
                </td>
                <td>
                        <div style="color: black;">Errores</div>
                    @Html.DisplayFor(modelItem => item.Errores)
                </td>
            </tr>

        </tbody>
    }
}
</table>
