

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-3">Promedios de equipos</h2>
<h6 style="color: #e0250c; font-size: 13px;">* Promedios de cada equipo.</h6>

<table class="table  table-bordered table-hover ">
    <thead style="background-color: #ea781a; color: #aa1100; font-weight: bold;">
        <tr>
            <th>Id Equipo</th>
            <th>Equipo</th>
            <th>Promedio Carreras</th>
            <th>Promedio Hits</th>
            <th>Promedio Errores</th>
            <th>Promedio Juego Ganado</th>
            <th>Promedio Juego Perdido</th>
            <th>Promedio Juego Empate</th>
        </tr>
    </thead>
    <tbody style="background-color: #cfd0e2; color: #0f34ad; font-weight:600">
        @foreach (var promedio in ViewBag.PromediosPorEquipo)
        {
            <tr>
                <td>@promedio.EquipoId</td>
                <td>@promedio.EquipoNombre</td>
                <td>@promedio.PromedioCarreras</td>
                <td>@promedio.PromedioHits</td>
                <td>@promedio.PromedioErrores</td>
                <td>@promedio.PromedioJuegoGanado</td>
                <td>@promedio.PromedioJuegoPerdido</td>
                <td>@promedio.PromedioJuegoEmpate</td>
            </tr>
        }
    </tbody>
</table>


