@model IEnumerable<LIDOM_MVC.Models.Temporada>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Create">Create New</a>
        
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemFecInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemFecFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemFecInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemFecFinal)
            </td>
                @if (User.IsInRole("Admin"))
                {
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.TemId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.TemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.TemId })
            </td>
                    
                }
                    
        </tr>
}
    </tbody>
</table>
