@model LIDOM_MVC.ViewModels.FechaPartidoViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminarla?</h3>
<div>
    <h4>FechaPartido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecFechaPartido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecFechaPartido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger me-2" /> 
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
