@model IEnumerable<LIDOM_MVC.ViewModels.FechaPartidoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fecha de Partidos</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Crear nueva fecha</a>
    </p>
}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FecFechaPartido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecTemporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FecFechaPartido.ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecTemporada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecHora)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.FecId }, new { @class = "btn btn-outline-secondary me-1" }) 
                    @Html.ActionLink("Detalles", "Details", new { id=item.FecId }, new { @class = "btn btn-outline-primary me-1" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.FecId }, new { @class = "btn btn-outline-danger me-1" })
            </td>
        </tr>
}
    </tbody>
</table>
